* {
    margin: 0;
}

.container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 10fr 1fr;
    grid-template-areas: "title title title"
                         "side content content"
                         "footer footer footer";
}

pagetitle {
    padding: 300px 0;
    grid-area: title;
    /* background: #666; */
    text-align: center;
}

side {
    grid-area: side;
    /* background: #999; */
}

content {
    grid-area: content;
    /* background: #ccc; */
}

footer {
    grid-area: footer;
    /* background: #ddd; */
}